<nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar sticky-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="/">
                <strong class="text-white">
                    <span class="h3 font-weight-bold"><i class="fas fa-adjust fa-sm"></i> Mid-Coin</span>
                </strong>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav ml-auto">
                <a href="/" class="btn btn-light btn-sm">
                    <i class="fas fa-home"></i> Ver
                </a>
                <a href="/add" class="btn btn-light btn-sm">
                    <i class="fas fa-plus"></i> Agregar
                </a>
            </div>
        </div>
    </div>
</nav>